@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    background-color: #111114;
    color: white;
    font-family: "Instrument Sans", sans-serif;
    font-size: 2vh;
    height: 100vh;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

a {
    color: inherit;
    text-decoration: none;
}

a[href]:hover > p {
    text-decoration: underline dotted;
}

main {
    padding: 0vh 8vw 5vh 8vw;
}

.title {
    font-size: 4em;
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5em;
    font-family: "Roboto Mono";
    flex-wrap: wrap;
}

.title p {
    width: 0.8em;
    cursor: pointer;
    margin-bottom: -1.2em;
}

.title p:hover {
    text-transform: uppercase;
}