body {
    padding-top: 50px;
    padding-bottom: 50px;
}

.pfp {
    display: block;
    width: 325px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    clip-path: circle();
}

.information-box .paragraph-container {
    width: 70%;
    margin-left: auto;
    margin-right: auto
}
.information-box .paragraph-container * {
    text-align: left;
}